# Compiled
*.elc

# Packaging
.cask

# Backup files
*~
backups/

# Undo-tree save-files
*.~undo-tree

# 3rd party packages
elpa/

# Autosave
auto-save-list/

# Recent files list
recentf

# Cache files
.cache/

# Lsp session files
.lsp-session*

# transient
transient/

# tramp connection history
tramp

# projectile
projectile-bookmarks.eld

# sessions
session.*

# package update infor
.last-package-update-day

# Tangled
emacs.el
init.el
early-init.el